/* 🔧 Ajust camp quantitat */
.css_quantity input {
  max-width: none !important;
}
.js_blog.website_blog nav {
  display: none;
}
.coupon_form {
  display: none;
}
.custom-products .card-body {
  padding: 0;
}
.custom-products .card-title{
  padding: 0;
  margin: 0;
}
.custom-products .card-title a {
  padding: 60px 20px;
  display: block;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.4);
}
.custom-products .card-title a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
  cursor: pointer;
}

html #products_grid .oe_currency_value::after,
html #product_details .oe_currency_value::after {
  content: " VAT excluded";
  font-size: 0.8em;
  color: #666;
  margin-left: 4px;
}

html[lang="es-ES"] #products_grid .oe_currency_value::after,
html[lang="es-ES"] #product_details .oe_currency_value::after {
  content: " IVA no incluido";
  font-size: 0.8em;
  color: #666;
  margin-left: 4px;
}

html[lang="ca-ES"] #products_grid .oe_currency_value::after,
html[lang="ca-ES"] #product_details .oe_currency_value::after {
  content: " IVA no inclòs";
  font-size: 0.8em;
  color: #666;
  margin-left: 4px;
}