/* 🔧 Ajust camp quantitat */
.css_quantity input {
  max-width: none !important;
}
.js_blog.website_blog nav {
  display: none;
}
.coupon_form {
  display: none;
}
.custom-products .card-body {
  padding: 0;
}
.custom-products .card-title{
  padding: 0;
  margin: 0;
}
.custom-products .card-title a {
  padding: 60px 20px;
  display: block;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.4);
}
.custom-products .card-title a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
  cursor: pointer;
}

html #product_details .oe_price::after {
  content: " VAT excluded";
  font-size: 0.8em;
  color: #666;
  margin-left: 4px;
}

html[lang="es-ES"] #product_details .oe_price::after {
  content: " IVA no incluido";
  font-size: 0.8em;
  color: #666;
  margin-left: 4px;
}

html[lang="ca-ES"] #product_details .oe_price::after {
  content: " IVA no inclòs";
  font-size: 0.8em;
  color: #666;
  margin-left: 4px;
}

html[lang="nl-NL"] #product_details .oe_price::after {
  content: " excl. btw";
  font-size: 0.8em;
  color: #666;
  margin-left: 4px;
}

html[lang="fr-FR"] #product_details .oe_price::after {
  content: " HT";
  font-size: 0.8em;
  color: #666;
  margin-left: 4px;
}

html[lang="de-DE"] #product_details .oe_price::after {
  content: " zzgl. MwSt.";
  font-size: 0.8em;
  color: #666;
  margin-left: 4px;
}

html[lang="it-IT"] #product_details .oe_price::after {
  content: " IVA esclusa";
  font-size: 0.8em;
  color: #666;
  margin-left: 4px;
}

html[lang="pt-PT"] #product_details .oe_price::after {
  content: " s/ IVA";
  font-size: 0.8em;
  color: #666;
  margin-left: 4px;
}
#wrapwrap:not(.o_header_overlay) header .js_language_selector .dropdown-item span {
  color: #000 !important;
}