/* Body */
body {
  background-color: #f0eee9;
}

/* Hero Cover */
.s_form_aside,
.s_cover {
  border-radius: 1.5rem;
  margin: 1rem;
}
.s_form_aside {
  max-width: 1290px !important;
  margin: 0 auto;
  padding: 2rem 3rem !important;
}
.s_cover ul {
  list-style: none;
  padding-left: 0;
  margin: 2rem 0 !important;
}

.s_cover li {
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.55 14.1168L8.2 11.7668C8.03883 11.6056 7.83883 11.525 7.6 11.525C7.36117 11.525 7.15558 11.6111 6.98325 11.7833C6.82225 11.9444 6.74175 12.1444 6.74175 12.3833C6.74175 12.6223 6.82225 12.8223 6.98325 12.9833L9.96675 15.9833C10.1334 16.1499 10.3278 16.2333 10.55 16.2333C10.7722 16.2333 10.9666 16.1499 11.1333 15.9833L17 10.1168C17.1722 9.94442 17.2583 9.73883 17.2583 9.5C17.2583 9.26117 17.1722 9.05558 17 8.88325C16.8278 8.72225 16.6195 8.6445 16.375 8.65C16.1305 8.6555 15.9278 8.73883 15.7668 8.9L10.55 14.1168ZM12 22C10.6278 22 9.33342 21.7375 8.11675 21.2125C6.90008 20.6875 5.83892 19.9723 4.93325 19.0668C4.02775 18.1611 3.3125 17.0999 2.7875 15.8833C2.2625 14.6666 2 13.3722 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.02775 5.825 4.93325 4.925C5.83892 4.025 6.90008 3.3125 8.11675 2.7875C9.33342 2.2625 10.6278 2 12 2C13.3833 2 14.6833 2.2625 15.9 2.7875C17.1167 3.3125 18.175 4.025 19.075 4.925C19.975 5.825 20.6875 6.88333 21.2125 8.1C21.7375 9.31667 22 10.6167 22 12C22 13.3722 21.7375 14.6666 21.2125 15.8833C20.6875 17.0999 19.975 18.1611 19.075 19.0668C18.175 19.9723 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22ZM12 20.3333C14.3222 20.3333 16.2916 19.5222 17.9083 17.9C19.5249 16.2778 20.3333 14.3112 20.3333 12C20.3333 9.67783 19.5249 7.70842 17.9083 6.09175C16.2916 4.47508 14.3222 3.66675 12 3.66675C9.68883 3.66675 7.72217 4.47508 6.1 6.09175C4.47783 7.70842 3.66675 9.67783 3.66675 12C3.66675 14.3112 4.47783 16.2778 6.1 17.9C7.72217 19.5222 9.68883 20.3333 12 20.3333Z" fill="white"/></svg>');
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 2rem;
  margin: 5px 0;
}

/* Mobile responsive */

.s_cta_badge.d-inline-block {
  display: flex !important;
  width: 100% !important;
  max-width: 587px !important;
  min-width: 0 !important;
  box-sizing: border-box !important;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem !important;
  border-radius: 1rem !important;
  background-color: transparent;
  border: 3px solid white !important;
  color: white !important;
  position: relative;
  overflow: hidden;
}

.s_cta_badge a {
  color: white !important;
  text-decoration: none;
  align-self: flex-end;
  justify-self: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
}

@media (max-width: 767px) {
  .s_cta_badge.d-inline-block {
    max-width: 100% !important;
  }
  .s_cta_badge a {
    top: 100%;
    transform: translateY(-150%);
  }
}
.s_cta_badge:hover {
  background-color: white;
  color: black !important;
  text-decoration: none;
  cursor: pointer;
}
.s_cta_badge:hover a {
  color: black !important;
}

.s_cta_badge span {
  display: block;
  width: 70%;
}

/* Accordion */
.accordion-header {
  padding: 1rem 0rem !important;
}
.accordion-header p {
  margin: 0 !important;
  line-height: 1.5rem;
}

/* Footer */
footer {
  margin: 1rem;
  border-radius: 1.5rem;
}

.s_form_aside .container .row {
  --gutter-x: 60px !important;
}
.o_editable_media {
  border-radius: 1.5rem !important;
}
.container form .btn {
  width: 100% !important;
}

div[data-type="boolean"] {
  display: flex !important;
  line-height: 18px;
}
div[data-type="boolean"] .form-text {
  margin-top: 0 !important;
}

/* Opiniones */
.s_blockquote {
}
.s_blockquote_infos {
  position: absolute;
}
.s_blockquote_author {
  line-height: 22px;
  margin-top: 5px;
  margin-left: 10px;
}
.s_rating_icons {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.s_blockquote > div:nth-child(3) {
  margin-top: 3rem !important;
}

/* 🔧 Ajust camp quantitat */
.css_quantity input {
  max-width: 217px !important;
  width: 217px !important;
}

.js_blog.website_blog nav {
  display: none;
}

.coupon_form {
  display: none;
}

.custom-products .card-body {
  padding: 0;
}

.custom-products .card-title {
  padding: 0;
  margin: 0;
}

.custom-products .card-title a {
  padding: 60px 20px;
  display: block;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.4);
}

.custom-products .card-title a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
  cursor: pointer;
}

html #product_details .oe_price::after {
  content: " VAT excluded";
  font-size: 0.8em;
  color: #666;
  margin-left: 4px;
}

html[lang="es-ES"] #product_details .oe_price::after {
  content: " IVA no incluido";
  font-size: 0.8em;
  color: #666;
  margin-left: 4px;
}

html[lang="ca-ES"] #product_details .oe_price::after {
  content: " IVA no inclòs";
  font-size: 0.8em;
  color: #666;
  margin-left: 4px;
}

html[lang="nl-NL"] #product_details .oe_price::after {
  content: " excl. btw";
  font-size: 0.8em;
  color: #666;
  margin-left: 4px;
}

html[lang="fr-FR"] #product_details .oe_price::after {
  content: " HT";
  font-size: 0.8em;
  color: #666;
  margin-left: 4px;
}

html[lang="de-DE"] #product_details .oe_price::after {
  content: " zzgl. MwSt.";
  font-size: 0.8em;
  color: #666;
  margin-left: 4px;
}

html[lang="it-IT"] #product_details .oe_price::after {
  content: " IVA esclusa";
  font-size: 0.8em;
  color: #666;
  margin-left: 4px;
}

html[lang="pt-PT"] #product_details .oe_price::after {
  content: " s/ IVA";
  font-size: 0.8em;
  color: #666;
  margin-left: 4px;
}

#wrapwrap:not(.o_header_overlay)
  header
  .js_language_selector
  .dropdown-item
  span {
  color: #000 !important;
}

header .o_main_nav {
  flex-direction: column-reverse !important;
  display: flex !important;
}

.o_header_sales_one_bot {
  background-color: #000 !important;
}

.o_header_sales_one_bot > ul > li > div {
  justify-content: space-between !important;
}

.o_header_sales_one_bot a {
  color: #fff !important;
  white-space: nowrap !important;
}

#footer section.s_website_form form div[data-type="boolean"] .form-check {
  display: inline-block;
}

#footer section.s_website_form form div[data-type="boolean"] .form-check + div {
  display: inline-block;
  vertical-align: middle;
}

#footer section.s_website_form + p {
  display: none;
}

.s_card.card.o_cc .card-body {
  position: absolute;
  height: 100%;
  width: 100%;
  align-content: center;
}

.s_card.card.o_cc .card-body * {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

.editor_enable .s_card.card.o_cc .card-body {
  width: auto;
}

.editor_enable .s_card.card.o_cc .card-body * {
  width: auto;
}

form[data-model_name="mailing.contact"] .form-check,
form[data-model_name="res.partner"] .form-check {
  display: inline-block !important;
}

form[data-model_name="mailing.contact"] .form-check + .form-text,
form[data-model_name="res.partner"] .form-check + .form-text {
  display: inline-block !important;
  vertical-align: middle !important;
}

header .oe_structure .container p {
  margin-bottom: 0;
}

.modal-content .btn {
  white-space: nowrap !important;
}

.o_configurator_price_total {
  font-size: 1.5em;
}

b,
strong {
  font-weight: bolder !important;
}

/*
Product details
*/

#product_details {
  background-color: transparent !important;
}
/* 
.navbar {
  background-color: white;
  color: black;
}
.nav-link {
  color: black !important;
}
.navbar a {
  color: black;
} */

@media (min-width: 992px) {
  :where(header#top)
    .navbar-nav:where([role="menu"])
    .nav-link:not(.o_nav-link_secondary) {
    padding: 0.375rem 1.5rem;
    border-radius: 40px;
  }
}

.text-muted {
  line-height: 20px;
}
